.aboutsection {
    background-image: url(../style/assets/bg.png); 
    background-size: cover; 
    background-position: center; 
    padding-top: 100px; 
    position: relative; 
    z-index: -1; 
    
}

.aboutsection::after {
    content: ""; 
    background-image: url(../style/assets/G.png); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
    position: absolute; 
    top: 0;
    left: 0; 
    width: 100%; 
    height: 50%; 
    z-index: 1; 
    opacity: 0.4; 
    margin-top: 180px;
    
}

.aboutsection .container{
    
    display: flex;
    flex-direction: row;
    text-align: center;
}
@media screen and (max-width:800px) {
    .aboutsection .container{
        flex-direction:column;
        justify-content: center;
    }
    .aboutsection .container .knife{
        
        width: 70px;
    }
}
.aboutsection  .container div{
    margin-top: 100px;
    z-index: 11;
    
    
}

.aboutsection  .container h1{
    color: var(--color-golden);
    font-family: "Cormorant Upright", Sans-serif;
    font-size:xx-large;
    font-weight: bold;
    


}
.aboutsection  .container p{
    color: var(--color-white);
    line-height: 30px;
    
}
.aboutsection  .container div:first-child{
    text-align: right;
    margin-left: 8%;
    margin-right: 5%;
}
.aboutsection  .container div:last-child{
    text-align: left;
    margin-left: 5%;
    margin-right: 8%;
}
.aboutsection  .container div:last-child img{
    rotate: -180deg;

}

.aboutsection .container button {
    border: none;
    background-color:var(--color-golden);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    padding: 10px 20px;
    color: var(--color-white);
    font-size: larger;
    z-index: 1; 
    transition: color 0.3s ease;
    color: var(--color-black);
    font-family: "Cormorant Upright", Sans-serif;
    font-size:x-large;
    margin-top: 60px;
}

.aboutsection .container button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%; 
    width: 100%;
    height: 100%;
    background: var(--color-black); 
    z-index: -1; 
    transition: left 0.3s ease; 
}

.aboutsection .container button:hover::before {
    left: 0; 
}

.aboutsection .container button:hover {
    background-color: var(--color-black); 
}

.aboutsection .container .knife{
    height: 800px;
    z-index: 11;
}