/* .blogsection{
    background-color: var(--color-black);
    display: flex;
    flex-direction: column;
}
.blogsection .blogheader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: capitalize;
    align-items: center;

}
.blogsection .blogheader p{
    color: var(--color-white);
    font-size: x-large;
    padding-bottom: 5px;
    margin-top: revert;
}
.blogsection .blogheader h1{
    color: var(--color-golden);
    font-size:50px;
    margin-top: 25px;
}
.blogsection  .blogs{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
}
.blogsection .blogs .blog{
    display: flex;
    flex-direction: column;
    padding: 7px;
}
.blogsection  .blogs .blog img{
    width: 100%;
    padding-bottom: 17px;
}
.blogsection  .blogs .blog img:hover{
    scale: 0.3;
}
.blogsection  .blogs .blog h2{
    color: var(--color-golden);
    font-family:  "Cormorant Upright", Sans-serif;
    line-height: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.blogsection .blogs .blog p:nth-child(2){
    color: var(--color-white);
    text-transform: capitalize;

}
.blogsection .blogs .blog p:nth-child(4){
    color: var(--color-grey);

}
.blogsection .blogs .blog p:last-child{
    color: var(--color-golden);
    text-transform: capitalize;
    margin-top: 40px;
    margin-bottom: 20px;

} */
/* Blogsection Styles */
.blogsection {
    background-color: var(--color-black);
    display: flex;
    flex-direction: column;
  }
  
  .blogsection .blogheader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: capitalize;
    align-items: center;
  }
  
  .blogsection .blogheader p {
    color: var(--color-white);
    font-size: x-large;
    padding-bottom: 5px;
    margin-top: revert;
  }
  
  .blogsection .blogheader h1 {
    color: var(--color-golden);
    font-size: 50px;
    margin-top: 25px;
  }
  
  .swiper {
    width: 100%;
    padding: 20px 0;
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center;
  }
  
  .blog {
    background: var(--color-black);
    padding: 7px;
    text-align: center;
    border-radius: 10px;
  }
  
  .blog img {
    width: 100%;
    padding-bottom: 17px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
  }
  
  .blog img:hover {
    transform: scale(0.9);
  }
  
  .blog h2 {
    color: var(--color-golden);
    font-family: "Cormorant Upright", Sans-serif;
    line-height: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .blog p:nth-child(2) {
    color: var(--color-white);
    text-transform: capitalize;
  }
  
  .blog p:nth-child(4) {
    color: var(--color-grey);
  }
  
  .blog p:last-child {
    color: var(--color-golden);
    text-transform: capitalize;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .swiper-button-prev, .swiper-button-next{
    z-index: -1;
  }

  